#加固后的apk文件路径
INPUT_APK_PATH=/data/apks/v1.0.1/360_101_jiagu_sign.apk

#keystore文件路径
KEYSTORE_PATH=/data/project/android/app-android-CreditQuery/app/sign/key_store.jks

#keystore密码，建议加上引号，否则无法读取到特殊符号
KEYSTORE_PASSWORD='f!u@d#a'

#keystore alias名
KEYSTORE_ALIAS=app_alias

#keystore alias密码，建议加上引号，否则无法读取到特殊符号
KEYSTORE_ALIAS_PASSWORD='f!u@d#a'

#渠道列表文件
CHANNELS_FILE_PATH=/data/project/android/app-android-CreditQuery/channels.txt
